/* Icon */
.material-symbols-outlined {
  font-size: 100px;
  margin: 10px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Character Input section */
fieldset {
  border: 0;
  display: none;
}

.overflow {
  height: 200px;
}

.title {
  font-family: "PT Sans Narrow", sans-serif;
}
/* Saved character list */
#listContainer {
  height: 100vh;
  border-right-style: solid;
  border-right-color: hsl(348, 100%, 61%);
  border-bottom-style: solid;
  border-bottom-color: hsl(348, 100%, 61%);
  border-top-style: solid;
  border-top-color: hsl(348, 100%, 61%);
}

.is-clickable {
  cursor: pointer;
}

/* Character Information Section */
#characterInfo {
  width: 85vw;
  height: 100vh;
  border-left-style: solid;
  border-left-color: hsl(348, 100%, 61%);
  border-top-style: solid;
  border-top-color: hsl(348, 100%, 61%);
  border-bottom-style: solid;
  border-bottom-color: hsl(348, 100%, 61%);
}

img {
  border-style: solid;
  border-color: hsl(348, 100%, 61%);
  background-size: contain;
  max-width: 350px;
  max-height: 350px;
}

p {
  margin: auto;
  max-width: 1000px;
}

/* Future Features */
/* #upcomingProjects{
  position: absolute;
  right: -110px;
  top: 480px;
  width: 100%;
  height: 50vh;
}

#existingMedia{
  position: absolute;
  right: -110px;
  top: 870px;
  width: 100%;
  height: 50vh;

} */

@media screen and (max-width: 1547px) {
  p {
    max-width: 800px;
  }
}

@media screen and (max-width: 1186px) {
  p {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  div #characterInfo {
    width: 102vw;
    height: 130vh;
  }
  img {
    max-width: 100vw;
    max-height: 500px;
  }
  #listContainer {
    height: 35vh;
  }
  .material-symbols-outlined {
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  p {
    max-width: 250px;
  }

  div #characterInfo {
    width: 103vw;
    height: 115vh;
  }

  img {
    max-width: 99vw;
    max-height: 330px;
  }

  #listContainer {
    height: 30vh;
  }
}

@media screen and (max-width: 390px) {
  img {
    max-width: 340px;
    max-height: 343px;
  }
}
